{{#with data}}
<div class="spotify-card">


  {{#each list}}
  <div class="spotify-card__playlist">

    <a class="spotify-card__image" href="/spotify-playlist?id={{id}}{{#if data.isMix}}?isMix=true{{/if}}">
      <img src="{{image}}" alt="{{name}}" class="spotify-card__image">
    </a>

    <strong class="spotify-card__name">{{name}}</strong>
    <span class="spotify-card__amount">Кількість пісень: {{amount}} </span>

  </div>
  {{/each}}


</div>
{{/with}}