<main class="main">
  {{#with data}}
  <div class="main__content">

    <div class="title">
      <a class="icon" href="/">
        <img src="/svg/cross_back.svg">
      </a>
      <h1 class=" title--center">Пошук плейліста</h1>
    </div>

    <form method="POST" action="/spotify-search" class="search">
      <img src="svg/spotify-search.svg">
      <input type="search" class="search__input" placeholder="Введіть запит" name="value" value="{{value}}">
      <button class="search__button">Пошук</button>
    </form>
    <ul class="playlist__list">
      {{#each list}}
      <li class="playlist">

        <a href="/spotify-playlist?id={{id}}{{#if data.isMix}}?isMix=true{{/if}}">
          <img height="100px" src="{{image}}" alt="{{name}}">
        </a>

        <div class="playlist__content">
          <strong class="playlist__name">{{name}}</strong>
          <span class="playlist__amount">Кількість пісень: {{amount}} </span>
        </div>

      </li>
      {{/each}}
    </ul>
  </div>
  {{/with}}
</main>